table {
  border-collapse: collapse;

  th,
  td {
    border: 1px solid #0c8141;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #3872f0;
  }

  tr:nth-child(even) {
    background-color: #b60842;
  }

  tr:hover {
    background-color: #139c73;
  }

     & button {
       padding: 8px 12px;
       background-color: #4b1446;
       color: #fff;
       border: none;
       border-radius: 4px;
       cursor: pointer;
         
       &:hover {
         background-color: #084432;
       }
     }
}
 