.app {
}
.app {
  display: grid;
  max-width: var(--space--container);
  margin: auto;
  padding: var(--space--gap);
}

.app_footer{
  background-color: rgb(154, 57, 57);
  position: absolute;
  bottom: -10rem;
}