footer {
  background-color: var(--color--accent);
  color: var(--color--paper);
  max-width: var(--space--container);
  margin: auto;
  padding: var(--space--gap);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: var(--border-radius);

  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
.addressInfo {
  display: flex;
  flex-direction: column;
  gap: var(--space--m);
}
