table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: rgb(31, 11, 31);
  color: white;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
}
.table-row {
  cursor: pointer;
}
.selected {
  background-color: skyblue;
}
