.app {
  &__header {
    position: relative;
    display: flex;
    justify-content: center;
  }
  &__heading {
    height: 5rem;
    display: flex;
  }
  &__logo {
    position: absolute;
    left: 0;
    max-width: 100px;
  }
}
